<main class="h-100">
  <section
    class="container d-flex justify-content-around flex-lg-row flex-column align-item-center"
  >
    <div>
      <h1 class="text-danger">Demo</h1>
      <h3 class="my-3">
        Best <span> Movies </span>and <span>TV Shows</span> in A Singel place
      </h3>
      <q class="">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab fugiat
        officia porro!
      </q>
      <div class="d-flex gap-3 mt-4">
        <a href="" class="btn btn-danger rounded-3"
          ><i class="fa-brands fa-linkedin"></i
        ></a>
        <a href="" class="btn btn-danger rounded-3"
          ><i class="fa-brands fa-instagram"></i
        ></a>
      </div>
    </div>
    <div><i class="fa-solid fa-film"></i></div>
  </section>
</main>
